.App{
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  margin-bottom: 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.5em;
  color: #333;
  margin: 5px 0;
}

button2 {
  padding: 5px 10px;
  font-size: 1em;
  margin-bottom: 20px;
  cursor: pointer;
}