.movie-card{
    border:1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3 s;
}

.movie-card hover{
    transform : scale (1.05);
}

.movie-image {
    width :50%;
    height :20%;
    border-bottom-right-radius: 1px solid #ddd;
}

.movie-details{
    padding: 16px;
}

.movie-title{
    margin: 0;
    font-size: 1.5 em;
    color: #333;
}

.movie-info{
    margin: 8px 0;
    color: #666;
}

